
<head>
  <style>
     body {
        background-image: url("../../assets/images/background.jpg");
        background-repeat: no-repeat;
        background-size: 1500px 1000px;
     }
  </style>
  <meta name="csrf-token" content="{{ csrf_token }}">
  <!-- Other head elements -->
</head>
<body class="login-page" style="min-height: 496.391px;">
    <!-- <p class="login-box-msg"c style="font-weight: 34px;">Build No.: 3.0.4, 04-August-2022@10:00 </p> -->
    <div class="login-box">
      
      <!-- /.login-logo -->
      <div class="card">
        <!-- <b style="text-align: center;">BUGLOO</b> -->
        
       
      <div class="login-logo">
        <!-- <img  class="book" src="https://bugloo.live.wemapac.io/static/files/58557/Bugloo.jpg"  alt="book" /><br>  -->
        <a href="D:\bugloo\bugloo-client\src\app\registration\registration.component.html">Registration</a>
      </div>
      
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign Up to start your session</p>
  
          <form action="../../index3.html" [formGroup]="registrationData" method="post">
             <div class="form-group">
  
              <div class="input-group ">
                <input type="text" formControlName="username" class="form-control" [(ngModel)]="username"  placeholder=" Enter the User Name">
                 <!-- <div class="input-group-append">
                        <div class="input-group-text">
                      
                        <span class="fa fa-envelope"></span>
                         </div>
                     </div> -->
                 </div> 
                     <div
                *ngIf="registrationData.controls['username'].invalid && (registrationData.controls['username'].dirty||registrationData.controls['username'].touched)"
                class="text-small text-danger text-left">
                <div *ngIf="registrationData.controls['username'].errors && registrationData.controls['username'].errors['username']">
                  User Name is required
                </div>
               
                     </div>
  
            </div>

            <div class="form-group">
  
                <div class="input-group ">
                  <input type="email" formControlName="emailid" class="form-control" [(ngModel)]="emailid" placeholder=" Enter the Email Id">
                    <div class="input-group-append">
                          <div class="input-group-text">
                        
                          <span class="fa fa-envelope"></span>
                           </div>
                       </div> 
                   </div> 
                       <div
                  *ngIf="registrationData.controls['emailid'].invalid && (registrationData.controls['emailid'].dirty||registrationData.controls['emailid'].touched)"
                  class="text-small text-danger text-left">
                  <div *ngIf="registrationData.controls['emailid'].errors && registrationData.controls['emailid'].errors['emailid']">
                    Email Id is required
                  </div>
                  <!-- <div *ngIf="registrationData.controls['emailid'].errors && registrationData.controls['emailid'].errors['emailid']">
                    Email must be abc@xyz.pqr form
                  </div>  -->
                       </div>
    
              </div>
            <div class="form-group">
              <div class="input-group">
                <input type="password" formControlName="password" class="form-control" [(ngModel)]="password" placeholder="Password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fa fa-lock"></span>
                  </div>
                </div>
              </div>
              <div
                *ngIf="registrationData.controls['password'].invalid && (registrationData.controls['password'].dirty||registrationData.controls['password'].touched)"
                class="text-danger text-left text-small">
                <div *ngIf="registrationData.controls['password'].errors && registrationData.controls['password'].errors['required']">
                  Password is required
                </div>
  
              </div>
           <br />
           
              
            </div>
            <div class="row">
              <div class="col-8">
                <!-- <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    Remember Me
                  </label>
                </div> -->
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button (click)="onRegister()" type="submit" class="btn btn-primary btn-block" style="margin-left: -110%;">Register</button>
  
              </div>
              <!-- /.col -->
            </div>
          </form>
  
         
          <!-- /.social-auth-links -->
  
          <p class="mb-1">
            <!-- <a  routerLink="/forgot-password">I forgot my password</a> -->
          </p>
          <p class="mb-0">
            <!-- <a routerLink="/register" class="text-center">Register a new membership</a> -->
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
  
    <!-- jQuery -->
  
    <!-- <script src="../../../assets/plugins/jquery/jquery.min.js"></script> -->
    <!-- Bootstrap 4 -->
    <!-- <script src="../../../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <!-- AdminLTE App -->
    <!-- <script src="../../../assets/dist/js/adminlte.min.js"></script> -->
  
  
  </body>
  
  <router-outlet></router-outlet>
  
